*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-index{
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1.5fr 1fr 1fr 0.5fr;
 
    grid-template-areas:
    "main-p main-p"
    "imagen-uno imagen-dos"
    "imagen-tres imagen-cuatro"
    "parrafo parrafo";
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: orange;
}
 
.img-nosotros{
    display: none;
}
.main-p{
    grid-area: main-p;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1rem;
}
.imagen-uno{
    grid-area: imagen-uno;
}
.imagen-dos{
    grid-area: imagen-dos;
}
.iamgen-tres{
    grid-area: imagen-tres;
}
.iamgen-cuatro{
    grid-area: imagen-cuatro;
}
.parrafo{
    grid-area: parrafo;
}
 
footer{
    background-color: orange;
}
footer p{
    text-align: center;
}
 
 
 
/*mediaqueries*/
@media screen and (min-width: 600px){
 
    .main-index{
        grid-template-areas:
        "main-p main-p main-p main-p"
        "imagen-uno imagen-dos" 
        "imagen-tres imagen-cuatro"
        "parrafo parrafo parrafo parrafo";
        column-gap: 1rem;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
 
    
 
    header h1{
        font-size: 4rem;
    }
 
    header nav ul{
        font-size: 2rem;
    }
    .main-p{
        font-size: 1.5rem;
    }
}
 
@media screen and (min-width: 1024px){
   header{
    flex-direction: row;
    justify-content: space-between;
   
   }
 
   .main-index{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "main-p main-p main-p main-p"
    "imagen-uno imagen-dos imagen-tres imagen-cuatro"
    "parrafo parrafo parrafo parrafo";
    column-gap: 1rem;
   }
}

.Body-profesores{
    background-color: orange;
}